In [1]:
import numpy as np
import pandas as pd

In [2]:
dataaide = pd.read_csv("../Data/raw_data/aide_alimentaire.csv")

In [3]:
dataaide

     Pays bénéficiaire  Année                   Produit  Valeur
0          Afghanistan   2013       Autres non-céréales     682
1          Afghanistan   2014       Autres non-céréales     335
2          Afghanistan   2013              Blé et Farin   39224
3          Afghanistan   2014              Blé et Farin   15160
4          Afghanistan   2013                  Céréales   40504
...                ...    ...                       ...     ...
1470          Zimbabwe   2015  Mélanges et préparations      96
1471          Zimbabwe   2013              Non-céréales    5022
1472          Zimbabwe   2014              Non-céréales    2310
1473          Zimbabwe   2015              Non-céréales     306
1474          Zimbabwe   2013                Riz, total      64

[1475 rows x 4 columns]

In [4]:
dataaide = dataaide.rename(columns={'Pays bénéficiaire':'Pays','Année':'Annee','Valeur': 'Quantite (tonne)'})

In [5]:
dataaide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475 entries, 0 to 1474
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Pays              1475 non-null   object
 1   Annee             1475 non-null   int64
 2   Produit           1475 non-null   object
 3   Quantite (tonne)  1475 non-null   int64
dtypes: int64(2), object(2)
memory usage: 46.2+ KB

In [6]:
dataaide.Annee = dataaide.Annee.astype(object)

In [7]:
dataaide.Annee.unique()

array([2013, 2014, 2015, 2016], dtype=object)

In [8]:
test = dataaide.groupby('Pays')

In [9]:
test['Quantite (tonne)']

In [10]:
dataaide.to_csv('../Data/processed_data/aide_alimentaire_V2.csv', index=False)